@model IEnumerable<DeliverySite.Models.Product>



@{

    ViewBag.Title = "Produse";
}
<style type="text/css">
    img {
        border-radius: 25px;
    }
    .flip-box {
        border-color: aqua;
        border-radius: 25px;
        background-color: transparent;
        width: 300px;
        height: 200px;
        border: 1px solid #f1f1f1;
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
    }

    /* This container is needed to position the front and back side */
    .flip-box-inner {
        border-color: aqua;
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-box:hover .flip-box-inner {
        border-color: aqua;
        transform: rotateY(180deg);
    }

    /* Position the front and back side */
    .flip-box-front, .flip-box-back {
        border-color: aqua;
        border-radius: 25px;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    /* Style the front side (fallback if image is missing) */
    .flip-box-front {
        border-color: aqua;
        border-radius: 25px;
        background-color: #bbb;
        color: black;
    }

    /* Style the back side */
    .flip-box-back {
        border-color: aqua;
        border-radius: 25px;
        background-color:coral;
        color: white;
        transform: rotateY(180deg);
    }
</style>

<h2>Produsele</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Adauga produs", "Create")
    </p>
}

<div class="card-group" >
    @foreach (var item in Model)
    {
        <div class="flip-box" style="border: aqua" >
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="@Url.Content("~/Content/Image/" + item.ImagePath)" width="300" height="200">
                </div>
                    <div class="flip-box-back" style="">
                        <h4 class="card-title">@item.ProductName</h4>
                        <p class="card-text">
                            <h5 style="text-decoration-color: aquamarine">Timpul pentru pregatire @item.TimeToReady minute</h5>
                            <h5>Pretul @item.Price lei</h5>
                        </p>
                        <a href="http://localhost:63960/Carts/Create/@item.Id" class="btn btn-primary">Adauga in cos</a>
                    </div>
            </div>
            <br />
        </div>
       
    }

</div>





