@model DeliverySite.Models.Manufacturer

@{
    ViewBag.Title = "Ștergere producator";
}

<h2>Șterge</h2>

<h3>Ești sigur că dorești să șterge acest producător?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ManufacturerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManufacturerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdressManufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdressManufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNumberManufacurer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNumberManufacurer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailManufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailManufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShereManufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShereManufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePathLoggo)
        </dt>

        <dd>
            <img src="~/Content/Manufacturers/@Model.ImagePathLoggo" width="50" height="50"/>
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
